.about-container {
  height: 100vh;
  padding: 50px;
  color: black;
  background-image: url('/public/images/dashboard-bg.jpg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(6px);
  text-align: center;
}

.about-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.about-container p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 800px;
  text-align: center;
  font-weight: bold;
}
