.dashboard-container {
  display: flex;
  height: 100vh;
  background-image: url('/public/images/dashboard-bg.jpg');
  background-size: cover;
  background-position: center;
}

.dashboard-main {
  flex: 1;
  backdrop-filter: blur(6px);
  background: white;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
}

.cards-container {
  padding: 20px;
}

.top-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.bottom-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: black;
   
  padding: 25px;
  border-radius: 12px;
  color: white;
  box-shadow: black;
}

.big-card h2 {
  margin-bottom: 10px;
}

.small-card {
  text-align: center;
  padding: 20px;
}

.small-card h3 {
  margin-bottom: 10px;
}
